nav {
    justify-content: space-between;
}

.logo {
    margin-left: 35px;
}

.menu {
    background-color: rgba(74, 128, 141, 1);
    position: absolute;
    top: 45px;
    right: 0;
    font-size: 0.7rem;
    font-weight: 300;
    display: none;
    transition: 1s;
}

.menu ul {
    display: inline-table;
}

.openMenu {
    display: block;
    margin: 0 30px;
}

.closeMenu {
    display: none;
    margin: 0 30px;
}