/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #282b26;
    --secondry-color: #64b6c4;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #466464;
    color: white;
    font-family: "Poppins", sans-serif;
}

section {
    scroll-margin-top: 140px;
}


/* Navbar */

nav {
    position: fixed;
    top: 0;
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(74, 128, 141, 1);
}

.logo {
    font-size: 20px;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    list-style: none;
    margin: 0px 25px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: rgb(151, 253, 166);
}


/* underline */

.menu ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(151, 253, 166);
    display: block;
    transition: 0.3s;
}

.menu ul li a:hover::after {
    width: 100%;
}

.openMenu {
    display: none;
}

.closeMenu {
    display: none;
}


/* designing first section */

.first-section {
    background-image: linear-gradient(200deg, var(--primary-color), var(--secondry-color));
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 100px;
}

.first-left-section {
    width: 60%;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    animation: float 2s ease-in-out infinite;
}

.highlight {
    color: rgb(121, 242, 121);
}

.first-right-section {
    width: 40%;
    display: grid;
    justify-content: center;
}

.first-right-section img {
    width: 200px;
    animation: float 2s ease-in-out infinite;
}

hr {
    border: 0;
    height: 1.5px;
    margin: 5%;
    background: rgb(104, 253, 104);
}

.second-section {
    height: 80vh;
    margin: 96px;
}

.second-section .box {
    display: flex;
    margin: 40px 0;
    gap: 15rem;
}

.second-section .box .vertical {
    width: 30%;
}

.second-section .box .vertical ul {
    margin: 10px 0;
}

.second-section .box .vertical ul li {
    display: block;
    font-size: 12px;
    font-weight: 200;
    color: rgb(173, 253, 157);
}

footer {
    height: 250px;
    background: rgb(53, 46, 46);
    box-sizing: border-box;
}

.footer {
    display: flex;
    font-size: 0.8rem;
    margin: 20px 50px;
    padding: 25px 0px;
    justify-content: space-around;
}

.footer ul {
    list-style: none;
    margin: 20px 0px;
}

.second ul li a {
    text-decoration: none;
    color: white;
}

.second ul li a:hover {
    color: rgb(151, 253, 166);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}