@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 66, 66);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 25px;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(151, 253, 166);
}

.left {
    font-size: 20px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.first-section div {
    width: 40%;
    display: inline;
}

.left-section {
    font-size: xx-large;
}

.highlight {
    color: rgb(121, 242, 121);
}

.right-section {}

.right-section img {
    width: 300px;
    margin: 20px 50px;
}