@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 66, 66);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 25px;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(151, 253, 166);
}

main hr {
    border: 0;
    height: 1.5px;
    margin: 5%;
    background: rgb(104, 253, 104);
}

.left {
    font-size: 20px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 100px;
}

.first-section div {
    width: 40%;
    display: inline;
}

.left-section {
    font-size: 2.5rem;
}

.highlight {
    color: rgb(121, 242, 121);
}

.right-section img {
    width: 300px;
    margin: 20px 50px;
}

.second-section {
    height: 80vh;
    margin: 96px;
}

.second-section .box {
    display: flex;
    margin: 40px 0;
    gap: 15rem;
}

.second-section .box .vertical ul {
    margin: 10px 0;
}

.second-section .box .vertical ul li {
    display: block;
    font-size: 12px;
    font-weight: 200;
    color: rgb(173, 253, 157);
}

footer {
    height: 250px;
    background: rgb(53, 46, 46);
    box-sizing: border-box;
}

.footer {
    display: flex;
    font-size: 0.8rem;
    margin: 20px 50px;
    padding: 25px 0px;
    justify-content: space-around;
}

.footer ul {
    list-style: none;
    margin: 20px;
}

.second ul li a {
    text-decoration: none;
    color: white;
}

.second ul li a:hover {
    color: rgb(151, 253, 166);
}